@{
    ViewData["Title"] = "Tutorial";
}
<div class="alert alert-dark text-center" role="alert">
    <h1>@ViewData["Title"]</h1>
    <h4>
        En esta sala de escape se te mostraran una serie de preguntas
        de las cuales tendras que escribir sus respuestas
        para conseguir pasar de sala, si contestas correctamente
        podras pasar a la proxima sala, de no ser asi repetiras el nivel
    </h4>
</div>
