@{
    ViewData["Title"] = "Habitacion 1";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-6">
        <img width="100%" src="~/img/htsd.jpeg" draggable="false" class="rounded" />
    </div>

    <div class="col-6">

        <div id="pista" class="d-none mb-5">
            <h3>Pista</h3>
            <p>Es un adolescente que comienza a vender éxtasis por internet y se convierte en uno de los traficantes más grandes de Europa para recuperar a su exnovia</p>
        </div>

        <div>
            <h4>Ingrese el título de la serie</h4>

            <form method="POST" action='@Url.Action("Habitacion1", "Escape")'>
                <div class="form-group">
                    <input name="clave" autocomplete="off">
                </div>

                <div class="d-flex">
                    <button class="btn btn-success">Comprobar</button>
                    <button onclick="$('#pista').removeClass('d-none')" type="button" class="btn btn-clave btn-danger mx-2">Pista</button>
                </div>
            </form>
        </div>
    </div>
</div>

