@{
    ViewData["Title"] = "Habitacion 2";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="POST" action='@Url.Action("Habitacion3", "Escape")'>
        <div class="form-group">
            <label for="name">Clave</label>
            <input name="clave" class="form-control">
        </div>

        <button class="btn btn-primary">Enviar</button>
    </form>

    <img src="~/img/htsd.jpeg" />

</div>