@{
    ViewData["Title"] = "Sala de Escape";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Bienvenido a la sala de escape </h1>
        <p>En esta sala de escape ... ...</p>
    </div>

    <a href='@Url.Action("Habitacion1", "Escape", new { clave = "esa" })' class="btn btn-primary text-dark">Comenzar</a>
</div>