@{
    ViewData["Title"] = "Victoria";
}


<div class="text-center">
    <h1>¡Victoria!</h1>
    <h4>¡Felicitaciones, completaste correctamente la sala de escape!</h4>
    <img src="~/img/victoria.gif" />
</div>